.input-container {
  position: relative;
  width: 50%;
  margin-bottom: 20px;
}
input {
  border: none;
  outline: 1px solid rgb(230, 227, 227);
  background: white;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
}
button {
  height: 40px;
  border: none;
  background: rgb(75, 148, 251);
  color: white;
}
@media (max-width: 767px) {
  .input-container {
    width: 80%;
  }

  .icon {
    font-size: 20px;
  }

  button {
    width: 80%;
  }
}

.circle {
  width: 50px;
  height: 50px;
  background-color: rgb(230, 20, 20);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
